.main .container .row h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: "Roboto Condensed"
}

.main .container .row p {
  color: #507D7A;
}

.left-text-block {
  text-align: center;
  width: 100%;
}

.right-text-block {
  text-align: center;
  width: 100%;
}

.left-picture-block {
  text-align: center;
  width: 100%;
}

.right-picture-block {
  text-align: center;
  width: 100%;
}

.row {
  padding: 5rem !important;
}

.on-row {
  background-color: ;
}

.off-row {
  background-color: white;
}

.on-row-text *{

}

.off-row-text *{
  color: black;
}

.info {
  color: white;
  text-decoration: none;
  font-family: "Roboto Light";
  overflow: auto;
}

.info * {
  font-size: 2em;
  position: flex;
  align-items: center;
  justify-content: center;
}

#GnT-github-link {
  max-height: 90px;
  max-width: 90px;
  opacity: 0.7;
  background: transparent;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
}

#GnT-github-link:hover {
  opacity: 1;
}
