@charset "utf-8";
/* CSS Document */

/*Footer*/
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  nav ul li a:hover {
	text-decoration:none;  
  }
 

