/**
 * Customizer Custom CSS
 */
.wp-core-ui .btn-upgrade {
	background: none #5cb85c;
	border-color: #4cae4c;
	box-shadow: none;
	color: #fff;
	margin-top: 10px;
}
.wp-core-ui .btn-upgrade:hover,
.wp-core-ui .btn-upgrade:focus  {
	background: none #449d44;
	border-color: #398439;
	box-shadow: none;
	color: #fff;
}

#catchresponsive_upgrade {
	display: block;
	float: left;
	width: 100%;
}